/javascript/webpacker_react-npm-module/dist/
node_modules/
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

test/example_app/log/*
test/example_app/tmp/*
test/example_app/public/packs

.rvmrc
