<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerReactExample</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'a' %>
    <%= javascript_pack_tag 'b' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
